<div class="logo">
    <img src="../images/ci-logo.png" alt="CI logo" title=''/>
    <a href="../index.html"> <span class="highlight"></span></a>
</div>
<nav id="main-nav">
    <a href="/schedule.html" title="View Schedule">Schedule</a>
    <a href="../audits.html" title="Audit Listing">Audits</a>
    <a href="../scheduleadd.html" title="Add Schedule">+Audit</a>
    <a href="../processes.html" title="Processes Listing">Processes</a>
    <a href="../results.html" title="Results">Results</a>
    <a href="../auditcopy.html" title="Copy">Copy</a>
</nav>